.profile__edit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  border: 1px solid #FFFFFF;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 440px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 19px;
    height: 19px;
    margin-left: 10px;
  }
}
