.popup__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 36px;
  min-width: calc(430px - 72px);
  background-color: white;
  border-radius: 10px;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .popup__container {
    padding-left: 22px;
    padding-right: 22px;
    min-width: calc(282px - 38px)
  }
}
