.popup__close-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background-image: url(../../../images/close-icon.svg);
  background-color: transparent;
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  right: -40px;
  top: -40px;
}

.popup__close-icon:hover {
  background-image: url(../../../images/close-icon__hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    right: 0;
    top: -32px;
  }
}
