.popup__save-button {
  padding: 14px 0 18px;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
  background-color: black;
  color: white;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__save-button {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

