.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
