.footer {
  max-width: calc(100% - 400px);
  margin: 0 200px 60px;
}

@media screen and (max-width: 1279px) {
  .footer{
     max-width: calc(100% - 144px);
     margin: 0 72px 60px;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    max-width: calc(100% - 38px);
    margin: 0 19px 36px;
  }
}

